/* ==========================================================================
   Home section
   ========================================================================== */

@mixin pseudoElementInit ($content: " ") {
    content: $content;
    display: block;
}

@mixin translateElement($x: 0, $y: 0, $cb: null) {
    -webkit-transform: translate($x, $y) $cb;
    -moz-transform: translate($x, $y) $cb;
    -ms-transform: translate($x, $y) $cb;
    -o-transform: translate($x, $y) $cb;
    transform: translate($x, $y) $cb;
}

.home-section {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    /*
     * Intro Animation, section, head, gentleman
     */
    .intro {
        position: relative;
        margin-bottom: 40px;
        width: 100%;
        min-height: 600px;
        height: 60vh;

        &-layer {
            position: absolute;

            -webkit-transition: all 50ms ease-in-out;
            -moz-transition: all 50ms ease-in-out;
            -ms-transition: all 50ms ease-in-out;
            -o-transition: all 50ms ease-in-out;
            transition: all 50ms ease-in-out;
        }

        &-title {
            top: calc(50% - 190px);
            left: 50%;
            @include translateElement(-50%, -50%);
        }

        &-frame {
            top: calc(50% - 80px);
            left: 50%;
            @include translateElement(-50%, -50%);

            &-accent {
                top: calc(50% + 120px);
                left: 50%;
                @include translateElement(-50%, -50%);
            }
        }

        &-portrait {
            &-back {
                top: calc(50% - 50px);
                left: 50%;
                @include translateElement(-50%, -50%);
            }

            &-face {
                top: calc(50% - 50px);
                left: 50%;
                @include translateElement(-50%, -50%);
            }

            &-accent {
                &-left {
                    top: calc(50% - 70px);
                    left: calc(50% - 115px);
                    @include translateElement(-50%, -50%);
                }
                &-right {
                    top: calc(50% - 70px);
                    left: calc(50% + 115px);
                    @include translateElement(-50%, -50%, scaleX(-1));
                }
            }
        }

        &-sub {
            &-title {
                top: calc(50% + 200px);
                left: 50%;
                @include translateElement(-50%, -50%);
            }

            &-quote {
                top: calc(50% + 260px);
                left: 50%;
                @include translateElement(-50%, -50%);
            }

            &-accent {
                top: calc(50% + 280px);
                left: 50%;
                @include translateElement(-50%, -50%, scale(0.8));

                &-left {
                    top: calc(50% + 187px);
                    left: calc(50% - 120px);
                    @include translateElement(-50%, -50%, scaleX(-1));
                }

                &-right {
                    top: calc(50% + 187px);
                    left: calc(50% + 120px);
                    @include translateElement(-50%, -50%);
                }
            }
        }
    }

    /*
     * CTA Appointment button, barber locations
     */
    .cta {
        text-align: center;

        &_appointment {
            position: relative;
            background-color: #ccb46e;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding: 10px 20px 16px;
            margin: 0;

            -webkit-transition: all 100ms ease-out;
            -moz-transition: all 100ms ease-out;
            -ms-transition: all 100ms ease-out;
            -o-transition: all 100ms ease-out;
            transition: all 100ms ease-out;

            &:hover, &:focus {
                background-color: lighten(#ccb46e, 20);
                margin-top: -4px;
                margin-bottom: -4px;
                padding: 14px 22px 20px;
            }

            &:active {
                background-color: darken(#ccb46e, 20);
                padding: 14px 22px 20px;
                margin-top: -2px;
                margin-bottom: -6px;
            }

            &_label {
                color: #000000;
                display: block;
                font-family: "Bernier Regular", monospace;
                font-size: 10px;

                &--first {
                    font-size: 20px;
                }
                &--second {
                    font-size: 15px;
                }
            }
        }

        &_locations {
            padding: 10px 20px 16px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }

        &_location {
            text-align: center;
            display: flex;
            flex: 1 1 25%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 15px 20px;

            &_line {
                display: block;
                font-family: "Bernier Regular", monospace;

                &--first,
                &--third {
                    color: #ebe1c9;
                }

                &--first {
                    font-size: 28px;
                }

                &--second {
                    color: #a5833a;
                    font-size: 24px;
                }

                &--third {
                    font-size: 20px;
                }
            }
        }
    }

    /*
     *
     */
    @media all and (max-width: 578px) {
        .intro {
            margin-top: 80px;
            min-height: 100vw;
            transform: scale(0.9);
        }
    }

    /*
     *
     */
    @media all and (max-width: 525px) {
        .intro {
            transform: scale(0.8);
        }
    }

    /*
     *
     */
    @media all and (max-width: 467px) {
        .intro {
            transform: scale(0.7);
        }
    }

    /*
     *
     */
    @media all and (max-width: 419px) {
        .intro {
            margin-top: 30px;
            transform: scale(0.6);
        }
    }

    /*
     *
     */
    @media all and (max-width: 373px) {
        .intro {
            transform: scale(0.5);
        }
    }

    /*
     *
     */
    @media all and (max-width: 323px) {
        .intro {
            transform: scale(0.4);
        }
    }
}
